<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale = 1.0, initial-scale = 1.0, maximum-scale = 5.0, user-scalable=yes, shrink-to-fit=no">
<title><%= app.title %></title>
<meta name="description" content="<%= app.description %>">

<meta property="og:title" content="<%= app.title %>" />
<meta property="og:type" content="website" />
<meta property="og:image" content="<%= app.image %>" />
<meta property="og:description" content="<%= app.description %>" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="<%= app.twitter %>" />
<meta name="twitter:creator" content="<%= app.twitterCreator %>" />
<meta name="twitter:title" content="<%= app.title %>" />
<meta name="twitter:description" content="<%= app.description %>" />
<meta name="twitter:image" content="<%= app.image %>" />
